// Import mixins
@import 'assets/styles/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN SELECT */

.ant-select {
  font-family: 'Oxygen', sans-serif;
}

.ant-select-selection {
  border: 1px solid #e4e9f0;
  .ant-select-selection__placeholder {
    color: #dee1e6;
  }
}

.ant-select-dropdown {
  border: 1px solid #e9e9e9;
  animation-duration: 0s !important;
}

.ant-select-auto-complete {
  ol,
  ul,
  dl {
    margin: 0;
  }
}
