@import 'assets/styles/mixins.scss';

.editInlineTable {
  :global {
    .editable-cell {
      position: relative;
    }

    .editable-cell-value-wrap {
      padding: rem(5) rem(12);
      white-space: pre-wrap;
      border: rem(1) solid transparent;
      border-radius: rem(4);
      text-align: left;
      cursor: pointer;
    }

    .editable-row {
      &:hover .editable-cell-value-wrap {
        border-color: #d9d9d9;
      }
    }

    .pr-24 {
      padding-right: rem(24);
    }

    .h-30 {
      height: auto;
      min-height: rem(30);
    }
  }
}

